{% extends 'moisture/layout.html' %}
{% block content %}
{% autoescape off %}

{{ report_chart_data.labels }}
<div class="chart">
    <canvas id="moistureChart"></canvas>
</div>

<script type="text/javascript">
    (function () {
        var chart = new MoistureChart();
        chart.setLabels({{ report_chart_data.labels }});
        chart.setDatasetForTemperature({{ report_chart_data.temperature }});
        chart.setDatasetForMoisture({{ report_chart_data.moisture_level }});
        chart.drawChart();
    })();
</script>

{% endautoescape %}
{% endblock %}